.touchPad {
  width: min(90vw,90vh);
  height: min(calc(90vw - 20px),calc(90vh - 20px));
  background: lightblue;
  margin: auto;
  border: 3px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 26px;

  position: relative;
}

.touchPad * {
  pointer-events: none;
}

.touchPad .direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.touchPad .direction label {
   margin: 0 20px;
}

.hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: gray;
  font-size: 24px;
}