.bleButton {
  width: 40px;
  border: 4px solid gray;
  border-radius: 32px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  pointer-events: all;
  z-index: 2;
}

.CONNECTED {
  background: green;
}

.DISCONNECTED {
  background: lightgray;
}

.CONNECTING {
  background: yellow;
} 

.FAILED {
  background: red;
}
