.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
}

.wrapper {
  margin: auto;
  position: relative;
}

footer {
  text-align: right;
  padding: 10px 20px;
}